
* {margin: 0; padding: 0; border: 0; box-sizing: border-box; text-decoration: none; outline: none;}

body {
  font: 18px/28px Georgia;
  }

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: rgba(255,255,255,0.95);
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  }
    
  h1 {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 800px;
    font: bold 18px/60px Lucida Grande;
    text-align: left;
    }
  
  h1:hover {
    opacity: .5;
    cursor: pointer;
  }
  
  h1:focus {
    opacity: 1;
    cursor: text;
    font-style: italic;
  }

main {
  padding: 60px 15px 10px 15px;
  margin: 0 auto;
  max-width: 800px;
  }
  
  .start {
    width: 30rem;
    height: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -5rem 0 0 -15rem;
    text-align: center;
    }

    .start input {
      padding: 5px 10px;
      border: 2px solid #666;
      font: 16px/28px Lucida Grande;
    }

    .start button {
      color: #fff;
      background: #E74C3C;
      padding: 5px 10px;
      font: bold 16px/28px Lucida Grande;      
      }

  p {
    clear: both;
    margin: 2em 0;
    padding: 0 0 5px 16px;
  }
  
  p.host {
    margin-left: 30%;
    }
  p:not(.host) {
    margin-right: 30%;
    border-left: 7px solid #4A90E2;
    }
  
/*  p.user3 {border-color: #F5A623} */
  
  time {
    display: block;
    color: #999;
    font: bold 12px/16px Lucida Grande;
    }
  
  /* not working yet, need rested brain */
  /* icon of sound will be user color */
  /* and animated like the loading svg */
  
  .talking {
    float: left;
    margin: 1em 1em 2em 0;
    }
  
  .talking.user1 {fill: #000}
  .talking.user2 {fill: #4A90E2}
  .talking.user2 {fill: #F5A623}  